body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

button {
    font-weight: bold;
    color: #E5E7EB;
    font-size: 18px;
    border-color: white;
}

/* header */

.header, .footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    font-size: 18px;
    color: #F9FAF8;
    
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

#headerlogo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* info */

.info {
    background-color: #1F2937;
    color: #F9FAF8;

    display: flex; 
    justify-content: center;
    padding: 50px;
}

.info img {
    width: 800px;
    height: 500px;
    border: thick solid black;
}

.left {
    font-size: 48px;
    font-weight: bolder;

    display: flex;
    align-content: left;
    flex-direction: column;

    padding-right: 50px;
}

#bioinformation {
    font-size: 18px;
    color: #E5E7EB; 
}

.right {
    font-size: 18px;
    color: #E5E7EB
}

button {
    background-color: #3882F6;
    border-radius: 10px;
    color: #E5E7EB;
    width: 100px;
    height: 50px;
}


/* randominfo */

.container img {
    border: 5px solid #3882F6;
    border-radius: 25px;
    height: 200px;
    width: 200px;

}

.randominfo {
    font-size: 18px;
    color: #1F2937;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0 auto;
}

.containers {
    display: flex;
    justify-content: center;
}

.container {
    height: 500px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    
}

.titlerandominfo {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    
}

/* quote */

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;

    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: column;
    padding: 100px 400px;
    margin: 0 auto;

}

#author {
    font-size: 30px;
    font-weight: bolder;
    color: #1F2937;
    text-align: right;

    display: flex;
    align-items: right;
    justify-content: right;

}

/* signup */

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.bluesignup {
    border-radius: 10px;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow:1;
    margin: 50px 100px;
    padding: 50px
}


#SignupAd {
    font-size: 24px;
    font-weight: bold;
}

.leftsignup {
    color: #E5E7EB;
    padding-left: 100px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    flex-grow:1;
}

.rightsignup {
    display: flex;
    justify-content: center;
    align-items: right;
    padding-right: 50px;
    flex-grow:1;
}

/* footer */

.footer {
    display:flex;
    align-items: center;
    justify-content: center;

}

